---
import { ideas, tutorials, tools } from "../data/resources.ts"
---

<div class="min-h-screen max-w-lg flex flex-col gap-4 items-start justify-start tracking-widest   font-bold mx-auto p-6 mt-12">
  <h2 class="text-4xl font-bold  text-center w-full mb-12">Resources</h2>
  <p>Ideas</p>
  <ul class="list-disc pl-6 space-y-6 mb-12">
    {ideas.map((idea) => (
      <li class="cursor-pointer underline">
        <a target="_blank" rel="noreferrer" href={idea.url}>{idea.title}</a>
      </li>
    ))}
  </ul>

  <p>Tutorials</p>
  <ul class="list-disc pl-6 space-y-6 mb-12">
    {tutorials.map((tutorial) => (
      <li class="cursor-pointer underline">
        <a target="_blank" rel="noreferrer" href={tutorial.url}>{tutorial.title}</a>
      </li>
    ))}
  </ul>

  <p>Tools</p>
  <ul class="list-disc pl-6 space-y-6">
    {tools.map((tool) => (
      <li class="cursor-pointer underline">
        <a target="_blank" rel="noreferrer" href={tool.url}>{tool.title}</a>
      </li>
    ))}
  </ul>
</div>
